nav#side-nav {
    position : fixed;
    width : 10vw;
    display : block;
    top : 30vh;
    left : 5vw;
}

nav#side-nav label {
    width : 10vw;
    display : block;
    position : relative;
    text-align : center;
    margin : 0.5em auto;
}

.label {
    width : 6em;
}

.input.long,
.display.long {
    width : calc(50vw - 13em);
}

.input.short,
.display.short {
    width : 2em;
}

.input.mid,
.display.mid {
    width : 9em;
}

.input {
    vertical-align : middle;
}

.input[type='date'],
.display[type='date'] {
    padding-top : 0em;
    padding-bottom : 0em;
}

textarea.input,
textarea.display {
    vertical-align : top;
}

label.fileuploader {
    height : 1.5em;
    width : 1.5em;
}

button.response-button {
    margin-left : 1em;
}

div.s-u-resp {
    padding-bottom : 2em;
}

li.userbox {
    width : 40%;
    height : 5em;
    margin : 1em 3%;
}

li.userbox>img {
    width : 5em;
}

li.userbox>div.info li {
    margin : 5px 0;
}

.team-select {
    margin-top : 2em;
    padding-bottom : 2em;
}

.team-select select,
.team-select .label {
    display : inline-block;
}

.urgent-info {
    padding : 0.5em 0.8em;
    background-color : rgba(200, 200, 200, 0.3);
    margin : 0em auto 1em auto;
}
