nav#side-nav {
    position : fixed;
    width : 10vw;
    display : block;
    top : 30vh;
    left : 5vw;
}

nav#side-nav label {
    width : 10vw;
    display : block;
    position : relative;
    text-align : center;
    margin : 0.5em auto;
}

.searchbox {
  display : block;
  width : 100%;
}

.searchbox>input {
  width : 80%;
  margin-left : calc(10% - 1em);
  box-shadow : 0px 0px 0.5em rgba(0, 0, 0, 0.3) inset;
  border-radius : 0.5em;
  font-size : 1.1em;
  user-select : text;
  letter-spacing : 0.05em;
  padding : 0.5em 1em;
}

.searchbox>.clearsearch {
  display : none;
}

.searchbox>input:valid+.clearsearch {
  display : block;
  color : rgb(100, 100, 100);
  position : absolute;
  right : 10%;
  top : 0.3em;
}

.searchbutton {
  display : block;
  text-align : center;
  margin : 1em;
}

.searchbutton>div {
  display : inline-block;
  margin : auto;
  vertical-align : middle;
}

.searchbutton>div>button {
  display : inline-block;
  vertical-align : middle;
}

.searchbutton>div #gosearch {
  padding : 0.2em 3em;
  line-height : 1em;
  font-size : 1em;
  border-bottom : 0.2em solid rgba(127, 172, 222, 0.3);
  transition : border 0.3s;
}

.searchbutton>div #gosearch:hover {
  border-bottom : 0.2em solid rgba(127, 172, 222, 0.9);
}

#viewport_box {
    height : 20vh;
    margin-bottom : 2em;
    transition : height 0.5s;
    overflow : hidden;
}

#viewport>ul>li {
    height : 0px;
}

#viewport img {
    display : block;
    opacity : 1;
    position : absolute;
    top : 0px;
    width : 100%;
    height : 20vh;
    transition : opacity 1s;
    transition : top 0.3s;
}

#viewport img.hidden {
    opacity : 0;
}

#viewport_box.nodisplay {
    height : 0;
}

#viewport_box.nodisplay img {
    top : -20vh;
}

#body {
    overflow : hidden;
}

@-webkit-keyframes loading-1 {
    0% { background : rgba(170, 170, 240, 0.3); }
    25% { background : rgba(0, 0, 150, 0.7); }
    50% { background : rgba(170, 170, 240, 0.3); }
    75% { background : rgba(170, 170, 240, 0.3); }
    100% { background : rgba(170, 170, 240, 0.3); }
}

@-webkit-keyframes loading-2 {
    0% { background : rgba(170, 170, 240, 0.3); }
    25% { background : rgba(170, 170, 240, 0.3); }
    50% { background : rgba(0, 0, 150, 0.7); }
    75% { background : rgba(170, 170, 240, 0.3); }
    100% { background : rgba(170, 170, 240, 0.3); }
}

@-webkit-keyframes loading-3 {
    0% { background : rgba(170, 170, 240, 0.3); }
    25% { background : rgba(170, 170, 240, 0.3); }
    50% { background : rgba(170, 170, 240, 0.3); }
    75% { background : rgba(0, 0, 150, 0.7); }
    100% { background : rgba(170, 170, 240, 0.3); }
}

@-webkit-keyframes loading-4 {
    0% { background : rgba(170, 170, 240, 0.3); }
    25% { background : rgba(170, 170, 240, 0.3); }
    50% { background : rgba(170, 170, 240, 0.3); }
    75% { background : rgba(170, 170, 240, 0.3); }
    100% { background : rgba(0, 0, 150, 0.7); }
}

#no-vp {
    margin-top : 4em;
}

#no-vp ul.waiting {
    text-align : center;
}

#no-vp ul.waiting li {
    display : inline-block;
}

div.waiting-bubble {
    width : 0.5em;
    height : 0.5em;
    display : block;
    margin : 0 0.5em;
    border-radius : 1em;
    border : 0.1em solid rgba(0, 0, 150, 0.7);
    -webkit-animation-iteration-count : infinite;
}

.load1 {
    -webkit-animation : loading-1 2s;
}

.load2 {
    -webkit-animation : loading-2 2s;
}

.load3 {
    -webkit-animation : loading-3 2s;
}
.load4 {
    -webkit-animation : loading-4 2s;
}
.load5 {
    -webkit-animation : loading-5 5s;
}
