nav#side-nav {
    position : fixed;
    width : 10vw;
    display : block;
    top : 30vh;
    left : 5vw;
}

nav#side-nav label {
    width : 10vw;
    display : block;
    position : relative;
    text-align : center;
    margin : 0.5em auto;
}

#avatar {
    width : 20%;
    display : inline-block;
}

#avatar>img {
    width : 100%;
    display : block;
}

#avatar>div {
    margin : auto;
    text-align : center;
    display : block;
}

#avatar>div>.fileuploader {
    width : 1.5em;
    height : 1.5em;
    display : inline-block;
}

#basicinfo {
    display : inline-block;
    vertical-align : top;
    margin-left : 1em;
}

#basicinfo>input,
#basicinfo>textarea,
#basicinfo>div {
    display : block
}

input.large {
    font-size : 2em;
    font-weight : bold;
}

input {
    border-radius : 0.2em;
    box-shadow : 0 0 0.2em rgba(0, 0, 0, 0.3) inset;
}

input[disabled] {
    box-shadow : none;
}

input.large:focus {
    border : 2px solid rgba(73, 110, 193, 0.3);
}

input.large {
    border : 2px solid rgba(73, 110, 193, 0);
    transition : border 0.3s;
}

span.label {
    font-weight : bold;
    margin-right : 2em;
}

.operator.settings {
    padding : 0.2em;
    margin : 0.4em 0.4em 0.4em 0;
    border-radius : 0.3em;
    border-width : 0.2em;
    text-indent : 0.2em;
}
