.userinfo {
    display : inline-block;
    width : 20%;
}

.contestlist {
    display : inline-block;
    width : 79%;
    float : right;
}

.avatar {
    width : 80%;
    margin : 2em auto;
    height : auto;
}

.avatar>img {
    width : 100%;
    height : auto;
}

.userinfo>.item {
    text-align : center;
    margin : 0.5em auto;
}

.userinfo>.item>a {
    color : blue;
}

.userinfo>.item.empty {
    padding : 1em 0;
}

.userinfo>ul {
    list-style : none;
}

.userinfo>ul>li {
    text-align : center;
    margin : 0.5em auto;
}

.userinfo>ul>li .fieldname {
    font-weight : bold;
    margin : 0.5em;
}


#modifybox ul {
    list-style : none;
}

#modifybox li {
    margin-top : 2em;
}

#modifybox li div,
#modifybox li input,
#modifybox li label {
    display : inline-block;
    font-size : 1.5em;
    margin-left : 2em;
}

.modifylabel {
    width : 5em;
    text-align : right;
}

.modifyinput {
    width : calc(100% - 10em);
    min-width : 5em;
    text-indent : 0.5em;
    outline-style : none;
    background-color : transparent;
    border-top : none;
    border-right : 1px solid rgba(127, 172, 222, 0.1);
    border-left : 1px solid rgba(127, 172, 222, 0.1);
    border-bottom : 2px solid rgba(127, 172, 222, 0.4);
    transition : border 0.3s;
}

.modifyinput:focus {
    border-left-color : rgba(127, 172, 222, 0.6);
    border-right-color : rgba(127, 172, 222, 0.6);
    border-bottom-color : rgba(127, 172, 222, 1);
}

#modifybox .confirm-button {
    margin : 2em auto 1em auto;
    display : block;
    height : 2em;
    font-size : 2em;
    width : auto;
    padding : 0.2em 1em;
    border-radius : 5px;
    outline-style : none;
    border-top : none;
    background-color : transparent;
    border-right : 1px solid rgba(127, 172, 222, 0.1);
    border-left : 1px solid rgba(127, 172, 222, 0.1);
    border-bottom : 2px solid rgba(127, 172, 222, 0.4);
    transition : border 0.3s;
}

#modifybox .confirm-button:hover {
    border-left-color : rgba(127, 172, 222, 0.6);
    border-right-color : rgba(127, 172, 222, 0.6);
    border-bottom-color : rgba(127, 172, 222, 1);
}

.fileuploader {
    width : 1.2em;
    height : 1.2em;
    vertical-align : bottom;
}

#createcontest {
    text-align : right;
    margin-right : 0.2em;
    margin-top : 0.2em;
    padding : 0.5em;
}
.createcontest {
    width : auto;
    cursor : pointer;
    color : blue;
    transition : background-color 0.3s;
    background-color : rgba(0, 0, 0, 0);
}

.createcontest:hover {
    background-color : rgba(180, 180, 180, 0.2);
}

.contests {
    border : 1px solid black;
    width : 90%;
    margin : 0 auto 2em auto;
}

.contests th {
    text-align : left;
}

.contests td a {
    color : blue;
}

.contests td.deletecontest,
.contests td.giveup {
    text-align : right;
}
