/* > font
     - [d-]normal size for English and Chinese
     - [h-]huge size for English and Chinese
*/
@font-face {
    font-family : 'd-en';
    src : url('rs/normal[en].ttf');
}

@font-face {
    font-family : 'h-en';
    src : url('rs/huge[en].ttf');
}

/* > universal  style */
* {
    margin : 0;
    padding : 0;
    font-family : 'd-en';
    font-size : 16px;
    color : black;
    user-select : none;
    -moz-user-select : none;
}

.bold {
    font-weight : bold;
}

.indent-3 {
    margin-left : 3em;
}

.green {
    color : rgb(20, 100, 20);
}

.red {
    color : rgb(200, 20, 20);
}

/* > dotted background decorator*/
.dotted-bg {
    z-index : 0;
    position : fixed;
    display : block;
    width : 100vw;
    height : 100vh;
    background-image : radial-gradient(rgba(73, 110, 193, 0.3) 7%, transparent 8%);
    background-size : 30px 30px;
    background-position : 0 0, 15px 15px;
}

/* > background fill-up block */
.bg-filled {
    z-index : -1;
    overflow : hidden;
    position : fixed;
    display : block;
    width : 100vw;
    height : 100vh;
}

/* > universal input & button style */
input {
    background : transparent;
    border : none;
    outline : none;
    letter-spacing : 0.8px;
}

button {
    background : transparent;
    border : none;
    outline : none;
    cursor : pointer;
}

/* > universal list style */
ul {
    list-style : none;
}

/* > universal link style */
a {
    cursor : pointer;
    text-decoration : none;
}

a.underlined {
    text-decoration : underline;
}


/* > header */
#header {
    position : fixed;
    background-color : rgb(73, 110, 193);
    height : 4em;
    width : 100vw;
    z-index : 99;
}

#header-content {
    width : 50vw;
    height : 100%;
    margin : auto;
}

#header-content * {
    color : white;
    display : inline-block;
}

#header-content>* {
    height : 100%;
}

#header-greeting,
#header-title {
    font-size : 2em;
    line-height : 2em;
    vertical-align : middle;
}

#header-greeting::after {
    content : '|';
    padding : 0 0.5em;
    display : inline-block;
}

#header-content nav {
    float : right;
    font-size : 1em;
    line-height : 4em;
}

#header-content nav ul {
    height : 100%;
    display : inline-block;
    margin : 0;
}

#header-content nav li {
    height : 100%;
    display : inline-block;
    padding : 0 1em;
    background-color : rgba(255, 255, 255, 0);
    transition : background-color 0.3s;
}

#header-content nav li a {
    display : inline;
    height : auto;
    vertical-align : middle;
}

#header-content nav li:hover {
    background-color : rgba(255, 255, 255, 0.3);
}

/* > session title */
button.s-title {
    width : auto;
    outline-style : none;
    border-style : none;
    background : transparent;
    border-left : solid 0.5em rgba(73, 110, 193, 0.7);
    transition : border-left 0.3s;
}

button.s-title[disabled] {
    cursor : default;
}

button.s-title[disabled],
button.s-title:hover {
    border-left-color : rgba(73, 110, 193, 1);
}

button.s-title.collapse {
    border-left-color : rgba(73, 110, 193, 1);
}

button.s-title>span {
    font-size : 2.3em;
    margin-left : 0.5em;
}

button.s-title>span.title {
    font-weight : bold;
}

/* > session body */
article.s-body {
    padding : 0 2em;
    margin : 2em auto;
}

/* > session user response */
div.s-u-resp {
    text-align : right;
}

.response-button {
    display : inline-block;
    height : 2em;
    font-size : 1.6em;
    width : auto;
    padding : 0.2em 1em;
    border-radius : 5px;
    outline-style : none;
    background-color : rgba(245, 245, 255, 0.3);
    border-top : 1px solid rgba(127, 172, 222, 0.1);
    border-left : 1px solid rgba(127, 172, 222, 0.1);
    border-bottom : 1px solid rgba(127, 172, 222, 0.1);
    border-right : 4px solid rgba(127, 172, 222, 0.3);
    transition : border 0.3s;
}

.response-button:hover {
    border-right-color : rgba(127, 172, 222, 0.9);
}

/* > body of the page */
#body {
    width :  50vw;
    display : block;
    position : absolute;
    top : 7em;
    left : 25vw;
}

/* > form */
ul.form>li {
    margin : 1em auto;
}

ul.form>li>* {
    display : inline-block;
}

.label {
    margin : auto 0.5em;
    font-size : 1.2em;
    width : 5em;
    text-align : right;
}

.input {
    height : 100%;
    padding : 0.12em 0.5em;
    background-color : transparent;
    border-top : none;
    border-right : 1px solid rgba(127, 172, 222, 0.1);
    border-left : 1px solid rgba(127, 172, 222, 0.1);
    border-bottom : 3px solid rgba(127, 172, 222, 0.4);
    transition : border 0.3s;
    font-size : 1.2em;
}

.input:-webkit-autofill {
    -webkit-box-shadow : none;
}

.input:hover,
.input:focus {
    border-bottom-color : rgba(127, 172, 222, 1);
}

.input[disabled],
.input[disabled]:hover {
    background-color : rgba(230, 230, 230, 0.6);
    border-color : rgba(230, 230, 230, 0.6);
    color : rgba(130, 130, 130, 0.8);
}

.display {
    border-radius : 0.3em;
    height : 100%;
    padding : 0.12em 0.5em;
    background-color : transparent;
    border : none;
    font-size : 1.2em;
    box-shadow : 0px 0px 5px rgba(0, 0, 0, 0.3) inset;
}

.input-warning {
    color : rgb(150, 150, 150);
}

.choice {
    padding : 5px 10px;
    cursor : pointer;
    border-radius : 3px;
    transition : background-color 0.3s;
}

.unchosen {
    background-color : #efefef;
    color : #b3b3b3;
}

.unchosen:hover {
    background-color : #eaeaea;
    color : #a7a7a7;
}

.chosen {
    background-color :  #3498db;
    color : #ffffff;
}

.fileuploader {
    background-image : url('../img/upload.png');
    background-size : 100% 100%;
    background-repeat : no-repeat;
    background-position : center;
    cursor : pointer;
}

.fileuploader input[type='file'] {
    cursor : pointer;
    opacity : 0;
    width : 0px;
    height : 0px;
}

/* > progress bar*/
.progressbar[value] {
    display : inline-block;
    -webkit-appearance : none;
    appearance : none;
}

.progressbar[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.progressbar[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg,
	                           transparent 33%, rgba(0, 0, 0, .1) 33%,
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top,
	                           rgba(255, 255, 255, .25),
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

/* > operator button */
button.operator {
    width : auto;
    display : inline-block;
    background : transparent;
    border-left : solid 0.2em rgba(73, 110, 193, 0.7);
    transition : border-left 0.3s;
}

button.operator>span {
    margin-left : 0.3em;
}

button.operator:hover {
    border-left-color : rgba(73, 110, 193, 1);
}

button.operator[disabled],
button.operator[disabled]:hover {
    cursor : default;
    border-left-color : rgba(73, 110, 193, 0.7);
}

button.operator.negative,
button.operator.negative[disabled],
button.operator.negative[disabled]:hover {
    border-left-color : rgba(225, 20, 20, 0.5);
}

button.operator.negative:hover {
    border-left-color :rgba(255, 20, 20, 1);
}

/* > userbox */
li.userbox {
    display : inline-block;
    border-left : solid 5px rgba(73, 110, 193, 0.7);
    transition : border 0.3s;
    cursor : pointer;
}

li.userbox:hover {
    border-left-color : rgba(73, 110, 193, 1);
}

li.userbox.leader {
    border-left-color : rgba(20, 110, 20, 0.3);
}

li.userbox.leader:hover {
    border-left-color : rgba(50, 180, 50, 1);
}

li.userbox>img,
li.userbox>div.info {
    display : inline-block;
    height : 100%;
    margin : 0;
    vertical-align : top;
}

li.userbox>div.info li {
    text-overflow : ellipsis;
}

li.userbox>div.info .name {
    font-weight : bold;
}

li.userbox.unaccepted {
    border-left-color : rgba(210, 20, 20, 0.3);
}

li.userbox.unaccepted:hover {
    border-left-color : rgba(210, 20, 20, 1);
}
