<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <title>后台</title>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/current-device/umd/current-device.min.js"></script>
        <link type="text/css" rel="stylesheet" href="index.css" />
        <script src="../js/uni.js"></script>
    </head>
    <body>
        <div id="login">
            <input placeholder="用户名" v-model="username" />
            <input placeholder="密码" v-model="password" type="password" />
            <button @click="login">登录</button>
        </div>
        <div><a href="/a/signup.html">注册</a></div>
    </body>
    <script src="index.js"></script>
</html>
