/*
 *  include fonts :
 *      font for text with normal size in English
 *      font for text with normal size in Chinese
 *      font for text with huge size in Chinese
 *      font for text with huge size in English
*/
@font-face {
    font-family : 'd-en';
    src : url('rs/normal[en].ttf');
}

@font-face {
    font-family : 'd-cn';
    src : url('rs/normal[zh-cn].ttf');
}

@font-face {
    font-family : 'h-en';
    src : url('rs/huge[en].ttf');
}

@font-face {
    font-family : 'h-cn';
    src : url('rs/huge[zh-cn].ttf');
}

/* define global style */
* {
    margin : 0;
    padding : 0;
    font-family : 'd-en', 'd-cn';
    font-size : 16px;
    color : black;
    user-select : none;
    -moz-user-select : none;
}

/*
 * available global styles
 * including :
 *  > dotted background
 */
.dotted-bg {
    background-image : radial-gradient(rgba(73, 110, 193, 0.3) 7%, transparent 8%);
    background-size : 30px 30px;
    background-position : 0 0, 15px 15px;
}

/*set the letter-spacing of input*/
input { letter-spacing : 0.8px; }

/* set cursor style for links and button */
a {
    text-decoration : none;
    cursor : pointer;
}

button { cursor : pointer; }

button[disabled] { cursor : default; }

/* style for session title */
button.session {
    width : auto;
    outline-style : none;
    border-style : none;
    background : transparent;
    border-left : solid 0.5em rgba(73, 110, 193, 0.7);
    transition : border-left 0.3s;
}

button.session[disabled],
button.session:hover {
    border-left-color : rgba(73, 110, 193, 1);
}

button.session>span {
    font-size : 2.3em;
    margin-left : 0.5em;
}

button.session>span.title {
    font-weight : bold;
}

article {
    margin : 1em;
    letter-spacing : 0.05em;
}

article>p {
    letter-spacing : inherit;
    margin : 0.4em auto;
}

/* style for confirm button*/
.confirm-button {
    margin : 2em auto 1em auto;
    display : inline-block;
    float : right;
    height : 2em;
    font-size : 2em;
    width : auto;
    padding : 0.2em 1em;
    border-radius : 5px;
    outline-style : none;
    background-color : rgba(245, 245, 255, 0.3);
    border-top : 1px solid rgba(127, 172, 222, 0.1);
    border-left : 1px solid rgba(127, 172, 222, 0.1);
    border-bottom : 1px solid rgba(127, 172, 222, 0.1);
    border-right : 4px solid rgba(127, 172, 222, 0.3);
    transition : border 0.3s;
}

.confirm-button:hover {
    border-right-color : rgba(127, 172, 222, 0.9);
}

/*
 * style for input with label
 * > short input for time
 */
 .label {
     width : 5em;
     text-align : right;
 }
 
.input {
    width : calc(100% - 10em);
    min-width : 5em;
    padding-left : 0.5em;
    outline-style : none;
    background-color : transparent;
    border-top : none;
    border-right : 1px solid rgba(127, 172, 222, 0.1);
    border-left : 1px solid rgba(127, 172, 222, 0.1);
    border-bottom : 3px solid rgba(127, 172, 222, 0.4);
    transition : border 0.3s;
}

.input.short {
    width : 3em;
    min-width : 3em;
    text-align : center;
    padding : 0;
}

.input:hover,
.input:focus {
    border-bottom-color : rgba(127, 172, 222, 1);
}


/*------------------------------*/



.color-themed { background-color : rgb(73, 110, 193); }

.color-themed-alpha { background-color : rgba(73, 110, 193, 0.8); }

.font-color-blue { color : blue; }

.float-right { float : right; }

/*
 * stylesheet for developer information
*/
#dev-info {
    position : fixed;
    right : 0px;
    bottom : 0px;
    padding-right : 10px;
    padding-bottom : 4px;
    color : rgb(150, 150, 150);
}

/*
 * stylesheet for top bar
*/
#header {
    position : fixed;
    display : block;
    height : 2.5em;
    width : 100vw;
    color : white;
    line-height : 2em;
    font-size : 1.2em;
}

#side-nav-c {
    background : transparent;
    outline-style : none;
    border-style : none;
    font-size : 2em;
    color : white;
    transition : margin-left, 0.5s;
}

#nav-header {
    position : fixed;
    top : 0px;
    width : 300px;
    height : 2.5em;
    line-height : 2.5em;
    color : white;
    transition : left, 0.3s;
    text-align : center;
    font-size : 1.2em;
}

.nav-hidden-c {
    margin-left : 0px;
}

.nav-displayed-c {
    margin-left : 300px;
}

#personal-nav,
#search-box {
    display : inline-block;
    float : right;
}

#personal-nav {
    margin : auto 1em;
    height : 100%;
}

#search-box {
    background-color : white;
    height : 2.4em;
    border-radius : 2.4em;
    margin : 0.3em 1em;
    transition : width 0.3s;
}

.search-box-long {
    width : 18em;
}

.search-box-short {
    width : 2.4em;
}

#search-box * {
    display : inline-block;
    height : 100%;
    float : right;
    border-style : none;
    border-radius : 0;
    outline-style : none;
}

#search-box input {
    width : calc(100% - 3.6em);
    transition : width 0.3s;
}

#search-box button {
    width : 2.4em;
    border-radius : 2.4em;
}

.search {
    background-color : white;
    background-image : url('../img/search.png');
    background-repeat : no-repeat;
    background-position : center;
    background-size : 1.5em 1.5em;
}

.cancel-search {
    background-color : white;
    background-image : url('../img/cancel.png');
    background-repeat : no-repeat;
    background-position : -0.8em -0.7em;
    background-size : 2.5em 2.5em;
}

#personal-nav ul {
    list-style : none;
    height : 100%;
}

#personal-nav ul li {
    padding : 0 1em;
    display : inline-block;
    height : 100%;
    margin-right : 0.2em;
}

#personal-nav ul li#title-label {
    background-color : rgba(124, 172, 222, 0.3);
}

#personal-nav ul li:hover {
    background-color : rgba(124, 172, 222, 0.3);
}

#personal-nav ul li a {
    color : white;
    font-size : 1.2em;
}

/*
 * navigation on side
*/
.nav-displayed {
    left : 0px;
}

.nav-hidden {
    left : -300px;
}

#nav-body {
    position : fixed;
    top : 2.5em;
    width : 300px;
    height : 100vh;
    color : white;
    transition : left, 0.3s;
}

#nav-body ul {
    list-style : none;
    margin : 1.5em;
}

#nav-body ul li {
    diplay : block;
    margin-top : 0.5em;
}

#nav-body ul li a {
    display : block;
    margin : auto;
    text-align : center;
    font-size : 1.4em;
    color : white;
}

/*
 * progress bar
*/
.progressbar[value] {
    display : inline-block;
    -webkit-appearance : none;
    appearance : none;
    margin-left : 2em;
}

.progressbar[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.progressbar[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg,
	                           transparent 33%, rgba(0, 0, 0, .1) 33%,
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top,
	                           rgba(255, 255, 255, .25),
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

/*
 * content box
*/
.contentbox {
    display : block;
    position : absolute;
    top : 5em;
    left : 20vw;
    z-index : -1;
    width : 60vw;
}

.content-body {
    background-color : rgb(248, 248, 248);
}

.content {
    margin : 2em auto;
    padding : 1em 2em;
    max-width : 100%;
}

/*
 * for radio and checkbox
*/
.choiceinputs {
    display : inline-block;
}

.choice {
    padding : 5px 10px;
    cursor : pointer;
    border-radius : 3px;
    transition : background-color 0.3s;
}

.unchosen {
    background-color : #efefef;
    color : #b3b3b3;
}

.unchosen:hover {
    background-color : #eaeaea;
    color : #a7a7a7;
}

.chosen {
    background-color :  #3498db;
    color : #ffffff;
}

/*
 * for file uploader
*/
.fileuploader {
    background-image : url('../img/upload.png');
    background-size : 100% 100%;
    background-repeat : no-repeat;
    background-position : center;
    cursor : pointer;
}

.fileuploader input[type='file'] {
    opacity : 0;
    width : 0px;
    height : 0px;
}

ul {
    list-style : none;
}

.form li {
    margin-top : 2em;
}

/*
 * for list of inputs with label
*/


ul.form {
    margin-bottom : 2em;
}

li>div,
li>input,
li>textarea,
li>label {
    vertical-align : top;
    display : inline-block;
    font-size : 1.5em;
    margin-left : 2em;
}




.button {
    display : block;
    outline-style : none;
    border-style : none;
    background : transparent;
}

.button[disabled] {
    color : grey;
}


/*
 * for form confirm button
*/

/*
 * table able for selection
*/
.data-chosen {
    background : blue;
}

.data-unchosen {

}
