<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #content {
            padding-top: 80px;
        }
    </style>
    <link href="/3rd/bs/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/contest_detail.css"/>
    <title>新建比赛</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                 <a class="navbar-brand" href="/index">Test.me 竞赛平台</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" id="navbar-list"></ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<div id="content"></div>

<footer class="bs-footer" role="contentinfo">
    <hr>
    <div class="container" id="footer" style="text-align: center"></div>
</footer>

<script type="text/template" id="tpl-navbar-list">
    <li><a href="/index">主页</a></li>
    <li class="active">
        {% if isCreate %}
            <a href="/organizer/contest/detail?createbasic=1">新建比赛</a>
        {% else %}
            <a href="/organizer/contest/detail?id={{ contest_id }}">{{ contest.name or "正在载入" }}</a>
        {% endif %}
    </li>
    <li><a href="/user/center?id={{user.id}}">个人中心</a></li>
    <li><a onclick="logout()">登出(<b>{{user.username}})</b></a></li>
    <li>{% if user.avatar_url %}<img src="{{user.avatar_url}}" width="40px" height="40px" style="margin-top:5px;margin-right:10px;border-radius:5px">{% endif %}</li>
</script>

<script type="text/template" id="tpl-content">
    {% if status == 0 %}
        <div class="container" id="detail-processing">
            <img src="/img/loading.gif">
            正在载入，请稍候……
        </div>
    {% elif status == 1 %}
        <div class="container" id="detail-processing">
            <img src="/img/loading.gif">
            正在执行，请稍候……
        </div>
    {% elif status == 2 %}
        <div class="container" id="detail-result">
            <h1>处理结果</h1>
            <pre id="resultHolder">{{ processResult|default('成功') }}</pre>
            <div class="col-sm-offset-2">
                <a class="btn btn-info" href="{% if processResult.length == 0 %}/organizer/contest/detail?id={{ contest.id }}{% else %}javascript:backToForm();{% endif %}">继续修改</a>
                <a class="btn btn-success" href="/organizer/list">返回列表</a>
            </div>
        </div>
    {% else %}
        <div class="container" id="detail-form">
            <form class="form-horizontal" role="form" method="post"
                  action="{% if isCreate %}/api/organizer/contest/createbasic{% else %}/api/organizer/contest/detail{% endif %}"
                  id="contest-form">
                <div class="form-group">
                    <label for="input-name" class="col-sm-2 control-label" id="label-input-name">比赛名称</label>
                    <div class="col-sm-10">
                        <input type="text" maxlength="26" name="name" class="form-control" id="input-name"
                               placeholder="比赛名称" autofocus value="{{ contest.name }}" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="input-description" class="col-sm-2 control-label">比赛简介</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="description" rows="3" id="input-description"
                                  placeholder="描述" row="3"
                                  style="resize: none;">{{ contest.description }}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="input-logo-url" class="col-sm-2 control-label" min="0">比赛logo</label>
                    <div class="col-sm-10">
                        <input type="url" name="logoUrl" class="form-control" id="input-logo-url"
                               style="width:80%;display:inline;" placeholder="请填入图片链接" value="{{ contest.logoUrl }}"
                               required>
                        {% if isCreate or contest.currentTime < contest.signUpEnd %}
                            <button type="button" class="btn btn-info" style="width:17%;float:right;"
                                    id="input-uploadLogo" onclick="uploadLogo()">上传图片
                            </button>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="input-banner-url" class="col-sm-2 control-label" min="0">比赛封面</label>
                    <div class="col-sm-10">
                        <input type="url" name="bannerUrl" class="form-control" id="input-banner-url"
                               style="width:80%;display:inline;" placeholder="请填入图片链接" value="{{ contest.bannerUrl }}"
                               required>
                        {% if isCreate or contest.currentTime < contest.signUpEnd %}
                            <button type="button" class="btn btn-info" style="width:17%;float:right;"
                                    id="input-uploadBanner" onclick="uploadBanner()">上传图片
                            </button>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="input-start-year" class="col-sm-2 control-label">比赛报名开始时间</label>
                    <div class="form-inline col-sm-10" id="input-start-time">
                        <div class="form-group date-input">
                            <input class="form-control" maxlength="4" type="number" id="input-start-year"
                                   value="{{ (contest.signUpStart|default(now)).getFullYear() }}"
                                   name="signUpStart-year" placeholder="年，>=2016" min="2016" max="2100" step="1"
                                   required>
                        </div>
                        <div class="form-group date-label">
                            <label class="control-label" for="input-start-year">年</label>
                        </div>
                        <div class="form-group date-input">
                            <input class="form-control" maxlength="2" type="number" id="input-start-month"
                                   value="{{ (contest.signUpStart|default(now)).getMonth() + 1 }}"
                                   name="signUpStart-month" placeholder="月，1-12" min="1" max="12" step="1" required>
                        </div>
                        <div class="form-group date-label">
                            <label class="control-label" for="input-start-month">月</label>
                        </div>
                        <div class="form-group date-input">
                            <input class="form-control" maxlength="2" type="number" id="input-start-day"
                                   value="{{ contest.signUpStart.getDate() }}"
                                   name="signUpStart-day" placeholder="日，1-31" min="1" max="31" step="1" required>
                        </div>
                        <div class="form-group date-label">
                            <label class="control-label" for="input-start-day">日</label>
                        </div>
                        <div class="form-group date-offset">
                        </div>
                        <div class="form-group date-input">
                            <input class="form-control" maxlength="2" type="number" id="input-start-hour"
                                   value="{{ contest.signUpStart.getHours() }}"
                                   name="signUpStart-hour" placeholder="小时，0-23" min="0" max="23" step="1" required>
                        </div>
                        <div class="form-group date-label">
                            <label class="control-label" for="input-start-hour">时</label>
                        </div>
                        <div class="form-group date-input">
                            <input class="form-control" maxlength="2" type="number" id="input-start-minute"
                                   value="{{ contest.signUpStart.getMinutes() | default(0) }}"
                                   name="signUpStart-minute" placeholder="分钟，0-59" min="0" max="59" step="1" required>
                        </div>
                        <div class="form-group date-label">
                            <label class="control-label" for="input-start-minute">分</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-end-year" class="col-sm-2 control-label">比赛报名结束时间</label>
                    <div class="form-inline col-sm-10" id="input-end-time">
                        <div class="form-group date-input">
                            <input class="form-control" maxlength="4" type="number" id="input-end-year"
                                   value="{{ (contest.signUpEnd|default(now)).getFullYear() }}"
                                   name="signUpEnd-year" placeholder="年，>=2016" min="2016" max="2100" step="1" required>
                        </div>
                        <div class="form-group date-label">
                            <label class="control-label" for="input-end-year">年</label>
                        </div>
                        <div class="form-group date-input">
                            <input class="form-control" maxlength="2" type="number" id="input-end-month"
                                   value="{{ (contest.signUpEnd|default(now)).getMonth() + 1 }}"
                                   name="signUpEnd-month" placeholder="月，1-12" min="1" max="12" step="1" required>
                        </div>
                        <div class="form-group date-label">
                            <label class="control-label" for="input-end-month">月</label>
                        </div>
                        <div class="form-group date-input">
                            <input class="form-control" maxlength="2" type="number" id="input-end-day"
                                   value="{{ contest.signUpEnd.getDate() }}"
                                   name="signUpEnd-day" placeholder="日，1-31" min="1" max="31" step="1" required>
                        </div>
                        <div class="form-group date-label">
                            <label class="control-label" for="input-end-day">日</label>
                        </div>
                        <div class="form-group date-offset">
                        </div>
                        <div class="form-group date-input">
                            <input class="form-control" maxlength="2" type="number" id="input-end-hour"
                                   value="{{ contest.signUpEnd.getHours() }}"
                                   name="signUpEnd-hour" placeholder="小时，0-23" min="0" max="23" step="1" required>
                        </div>
                        <div class="form-group date-label">
                            <label class="control-label" for="input-end-hour">时</label>
                        </div>
                        <div class="form-group date-input">
                            <input class="form-control" maxlength="2" type="number" id="input-end-minute"
                                   value="{{ contest.signUpEnd.getMinutes() | default(0) }}"
                                   name="signUpEnd-minute" placeholder="分钟，0-59" min="0" max="59" step="1" required>
                        </div>
                        <div class="form-group date-label">
                            <label class="control-label" for="input-end-minute">分</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="input-max-team-members" class="col-sm-2 control-label">比赛队伍人数限制</label>
                    <div class="col-sm-10">
                        <input type="number" name="maxTeamMembers" class="form-control" id="input-max-team-members"
                               min="1"
                               placeholder="比赛最多参赛人数" value="{{ contest.maxTeamMembers }}" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="input-attachment-url" class="col-sm-2 control-label" min="0">比赛报名附件原本</label>
                    <div class="col-sm-10">
                        <input type="url" name="signUpAttachmentUrl" class="form-control" id="input-attachment-url"
                               style="width:80%;display:inline;" placeholder="请填入文件链接"
                               value="{{ contest.signUpAttachmentUrl }}"
                               required>
                        {% if isCreate or contest.currentTime < contest.signUpEnd %}
                            <button type="button" class="btn btn-info" style="width:17%;float:right;"
                                    id="input-uploadAttachment" onclick="uploadFile()">上传文件
                            </button>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="input-tags" class="col-sm-2 control-label" id="label-input-tags">比赛标签</label>
                    <div class="col-sm-10">
                        <input type="text" maxlength="26" name="tags" class="form-control" id="input-tags"
                               placeholder="比赛标签,请用“,”隔开不同的关键词" value="{{ contest.tags }}" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="input-available-slots" class="col-sm-2 control-label" id="label-input-available-slots">比赛阶段数</label>
                    <div class="col-sm-10">
                        <input type="number" name="availableSlots" class="form-control" id="input-available-slots"
                               min="1"
                               placeholder="比赛的阶段(初赛、决赛等)数目" value="{{ contest.availableSlots }}" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="input-level" class="col-sm-2 control-label">比赛级别</label>
                    <div class="col-sm-10">
                        <div class="btn-group" data-toggle="buttons" style="float:left">
                            <label class="btn btn-primary">
                                <input type="radio" name="level" id="level-option1" value="provincial"
                                       checked="{% if isCreate and contest.level == "provincial" %}true{% else %}false{% endif %}"
                                       required> 省级
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="level" id="level-option2" value="city"
                                       checked="{% if isCreate and contest.level == "city" %}true{% else %}false{% endif %}"
                                       required> 市级
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="level" id="level-option3" value="distinct"
                                       checked="{% if isCreate and contest.level == "distinct" %}true{% else %}false{% endif %}"
                                       required> 区级
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="level" id="level-option4" value="school"
                                       checked="{% if isCreate and contest.level == "school" %}true{% else %}false{% endif %}"
                                       required> 校级
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        {% if isCreate or contest.currentTime < contest.signUpEnd %}
                            <button type="button" onclick="publishContest();" class="btn btn-primary" id="publishBtn">
                                发布
                            </button>
                        {% endif %}
                        {% if isCreate or contest.status == 0 %}
                            <button type="submit" class="btn btn-default" id="saveBtn">暂存</button>
                        {% endif %}
                        {% if isCreate or contest.currentTime < contest.signUpEnd %}
                            <button type="reset" class="btn btn-warning" id="resetBtn">重置</button>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
        <input type="file" id="fileUploadBtn" accept="*" style="display: none;"/>
        <input type="file" id="logoUploadBtn" accept="image/*" style="display: none;"/>
        <input type="file" id="bannerUploadBtn" accept="image/*" style="display: none;"/>
    {% endif %}
</script>

<script type="text/template" id="tpl-footer">
    <p>&copy; 2017 Test.me</p>
</script>

<script src="/3rd/jquery.js"></script>
<script src="/3rd/bs/js/bootstrap.min.js"></script>
<script src="/3rd/swig.js"></script>
<script src="/js/base.js"></script>
<script src="/js/base_admin.js"></script>
<script src="/js/contest_detail.js"></script>

<script>
    var locals = {
        status: urlParam.createbasic ? -1 : 0,
        isCreate: urlParam.createbasic,
        contest_id: urlParam.id,
        now: new Date(),
        processResult: ''
    };
    var renderTemplate = function (name) {
        $('#' + name).html(swig.render($('#tpl-' + name).html(), {locals: locals}));
    };
    var render = function () {
        renderTemplate('navbar-list');
        renderTemplate('content');
        renderTemplate('footer');
        $('.form-control').on('focus', function () {
            var me = $(this);
            setTimeout(function () {
                me.select();
            }, 100)
        });

        if (urlParam.createbasic) {
            api.form($('#contest-form'), function (id) {
                // success
                locals.contest.id = id;
            }, function (errno, errmsg, e) {
                // fail
                locals.processResult = '失败: [' + errno + '] ' + errmsg + (e ? ": " + e : "");
            }, function (data) {
                // before
                data.status = 0;
                wrapDate(data, 'signUpStart', 'signUpEnd');
                if (!locals.contest) {
                    locals.contest = {};
                }
                updateObj(locals.contest, data);
                if (checktime() && checkname()) {
                    locals.status = 1;
                    locals.processResult = '';
                    render();
                    return true;
                } else {
                    return false;
                }
            }, function () {
                // complete
                locals.status = 2;
                render();
            });
        } else {
            api.form($('#contest-form'), function () {

            }, function (errno, errmsg, e) {
                locals.processResult = '失败: [' + errno + '] ' + errmsg + (e ? ": " + e : "");
            }, function (data) {
                data.status = 0;
                wrapDate(data, 'signUpStart', 'signUpEnd');
                if (!locals.contest) {
                    locals.contest = {};
                } else {
                    data.id = locals.contest.id;
                    data.level = locals.contest.level;
                }
                updateObj(locals.contest, data);
                if (checktime() && checkname()) {
                    locals.status = 1;
                    locals.processResult = '';
                    render();
                    return true;
                } else {
                    return false;
                }
            }, function () {
                locals.status = 2;
                render();
            });
        }

        $('#fileUploadBtn').on('change', function () {
            if (this.files.length > 0) {
                var form = new FormData();
                form.append('file', this.files[0]);
                api.postForm('/api/organizer/contest/upload', form, function (Path) {
                    $('#input-attachment-url').val(Path);
                }, dftFail);
            }
        });
        $('#logoUploadBtn').on('change', function () {
            if (this.files.length > 0) {
                var form = new FormData();
                form.append('logo', this.files[0]);
                api.postForm('/api/organizer/contest/upload', form, function (Path) {
                    $('#input-logo-url').val(Path);
                }, dftFail);
            }
        });
        $('#bannerUploadBtn').on('change', function () {
            if (this.files.length > 0) {
                var form = new FormData();
                form.append('banner', this.files[0]);
                api.postForm('/api/organizer/contest/upload', form, function (Path) {
                    $('#input-banner-url').val(Path);
                }, dftFail);
            }
        });
    };
    $(function () {
        swig.setDefaultTZOffset(new Date().getTimezoneOffset());
        render();
        if (!urlParam.createbasic) {
            api.get('/api/organizer/contest/detail', {id: urlParam.id}, function (data) {
                locals.status = -1;
                data.id = parseInt(urlParam.id);
                updateDate(data, 'signUpStart', 'signUpEnd', 'currentTime');
                locals.contest = data;
                render();
            }, dftFail);
        }
    });
    var backToForm = function () {
        locals.status = -1;
        locals.processResult = '';
        render();
    };
    var publishContest = function () {
        var data = {};
        var form = $('#contest-form');
        enableFields(document.getElementsByTagName("input"));
        enableFields(document.getElementsByTagName("textarea"));
        enableFields(document.getElementsByTagName("select"));
        $.each(form.serializeArray(), function (i, input) {
            data[input.name] = input.value;
        });
        data.status = 1;
        wrapDate(data, 'signUpStart', 'signUpEnd');
        if (!locals.contest) {
            locals.contest = {};
        } else {
            data.id = locals.contest.id;
        }
        updateObj(locals.contest, data);
        if (checktime() && checkname()) {
            locals.status = 1;
            locals.processResult = '';
            render();
            api.post(form.attr('action'), data, function (id) {
                if (urlParam.createbasic) {
                    locals.contest.id = id;
                }
            }, function (errno, errmsg, e) {
                locals.processResult = '失败: [' + errno + '] ' + errmsg + (e ? ": " + e : "");
            }, function () {
                locals.status = 2;
                render();
            });
        } else {
            return false;
        }
    };
    var uploadLogo = function () {
        $('#logoUploadBtn').click();
    };
    var uploadBanner = function () {
        $('#bannerUploadBtn').click();
    };
    var uploadFile = function () {
        $('#fileUploadBtn').click();
    };
    var enableFields = function (fields) {
        for (var i = 0; i < fields.length; i++) {
            var field = fields[i];
            if (field instanceof (Array)) {
                for (var j = 0; j < field.length; j++) {
                    field[j].disabled = false;
                }
            } else {
                field.disabled = false;
            }
        }
    }
</script>
</body>
</html>
