<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>个人中心</title>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/current-device/umd/current-device.min.js"></script>
        <script src="../js/uni.js"></script>
        <link type="text/css" rel="stylesheet" href="../css/uni.css" />
        <link type="text/css" rel="stylesheet" href="../css/myaccount.css" />
    </head>
    <body>
        <div id="header">
            <div id="header-content">
                <div id="header-greeting">{{ greeting }}</div>
                <div id="header-title">{{ title }}</div>
                <nav><ul>
                    <li v-for='link in link_list'>
                        <a :href='link.link' @click='link.action'>{{ link.alias }}</a>
                    </li>
                </ul></nav>
            </div>
        </div>
        <nav id="side-nav">
            <ul>
                <li v-for="item in list">
                    <label :class="['choice', item == choice ? 'chosen' : 'unchosen']" @click='select(item)'>{{ item }}</label>
                </li>
            </ul>
        </nav>
        <div id="body">
          <template v-if="page == '比赛大厅'">
            <div :class="['session']">
              <div :class="['searchbox']">
                <input v-model="querytext" required autofocus/>
                <button :class="['clearsearch']" @click="clearsearchbox">清空</button>
              </div>
              <div :class="['searchbutton']">
                <div>
                  <button id="gosearch" @click="searchcontest">搜索</button>
                  <button id="random" title="试试运气！看看今日的推荐比赛吧~" @click="randomcontest"></button>
                </div>
              </div>
            </div>
            <div :class="['session']">
                <table :class="['searchresult']" cellspacing='0'>
                    <thead>
                        <th>比赛名称</th>
                        <th>组织方</th>
                        <th>报名时间</th>
                        <th>比赛时间</th>
                        <th>&nbsp;</th>
                    </thead>
                    <tr v-for="item in querylist" :class="[querylist.indexOf(item) % 2 == 0 ? 'lightrow' : 'darkrow', querylist.indexOf(item) == querylist.length - 1 ? 'last-row' : '']">
                        <td>{{ item.name }}</td>
                        <td>{{ item.organizer }}</td>
                        <td>{{ item.sut }}</td>
                        <td>{{ item.ct }}</td>
                        <td><a :href='item.link'>详情</a></td>
                    </tr>
                </table>
            </div>
          </template>
          <template v-if="page == '个人信息'">
              <div :class="['session']">
                  <div id="avatar">
                      <img :src="user.avatar.link" />
                      <div>
                          <label :class="['fileuploader']">
                              <input type="file" @change="uploadavatar" v-if="user.avatar.editable"/>
                          </label>
                          点击修改头像
                    </div>
                  </div>
                  <div id="basicinfo">
                      <input v-model="user.nickname.content" disabled :class="['large']"/>
                  </div>
              </div>
          </template>
        </div>
    </body>
    <script src="../js/uni_c.js"></script>
    <script src="../js/header_c.js"></script>
    <script src="../js/myaccount_c.js"></script>
</html>
<!-- template -->
