<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>个人中心</title>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/current-device/umd/current-device.min.js"></script>
        <script src="../js/uni.js"></script>
        <link type="text/css" rel="stylesheet" href="../css/uni.css" />
        <link type="text/css" rel="stylesheet" href="../css/myaccount.css" />
    </head>
    <body>
        <div id="header">
            <div id="header-content">
                <div id="header-greeting">{{ greeting }}</div>
                <div id="header-title">{{ title }}</div>
                <nav><ul>
                    <li v-for='link in link_list'>
                        <a :href='link.link' @click='link.action'>{{ link.alias }}</a>
                    </li>
                </ul></nav>
            </div>
        </div>
        <nav id="side-nav">
            <ul>
                <li v-for="item in list">
                    <label :class="['choice', item == choice ? 'chosen' : 'unchosen']" @click='select(item)'>{{ item }}</label>
                </li>
            </ul>
        </nav>
        <div id="body">
          <template v-if="page == '个人信息'">
              <div :class="['session']">
                  <button :class="['operator', 'settings']" v-if="!modify_basic_info" @click="start_modify_basic_info">修改基本信息</button>
                  <template v-else>
                      <button :class="['operator', 'settings', 'negative']" @click="cancel_modify_basic_info">取消</button>
                      <button :class="['operator', 'settings']" @click="save_modify_basic_info">保存</button>
                  </template>
              </div>
              <div :class="['session']">
                  <div id="avatar">
                      <img :src="user.avatar.link" />
                      <div>
                          <label :class="['fileuploader']">
                              <input type="file" @change="uploadavatar" v-if="user.avatar.editable"/>
                          </label>
                          点击修改头像
                    </div>
                  </div>
                  <div id="basicinfo">
                      <input v-model="user.nickname.content" disabled :class="['large']" v-if="!modify_basic_info"/>
                      <input v-model="user.nickname.content" :class="['large']" v-else />
                      <div><span :class="['grey']">{{ '[' + user.org.content + ']' + user.username.content }}</span><span :class="['grey']" v-if="user_type == 0">{{ '(' + user.type.content +')' }}</span></div>
                      <div>
                          <span :class="['bold']">电子邮件 : </span>
                          <input v-model="user.email.content" v-if="user.email.editable && modify_basic_info" />
                          <input v-model="user.email.content" v-else disabled />
                      </div>
                      <div v-if="user_type == 0">
                          <span :class="['bold']">性别 : </span>
                          <input v-model="user.gender.content" disabled />
                      </div>
                      <div v-if="user_type == 0">
                          <span :class="['bold']">生日 : </span>
                          <input v-model="user.birthday.content" v-if="user.birthday.editable && modify_basic_info" type="date" />
                          <input v-model="user.birthday.content" v-else disabled type="date" />
                      </div>
                      <div v-if="user_type == 1">
                          <span :class="['bold']">审核状态 : </span>
                          <input v-model="user.status.content" disabled :class="[user.status.content == '通过' ? 'green' : '', user.status.content == '未通过' ? 'red' : '']"/>
                      </div>
                  </div>
                  <div id="additionalinfo">
                      <button :class="['operator', 'settings']" @click="switch_modify_password" v-if="!modify_password && !reupload_doc">修改密码</button>
                      <button :class="['operator', 'settings', 'negative']" @click="switch_modify_password" v-else-if="modify_password">取消</button>
                      <button :class="['operator', 'settings']" v-if="user_type == 1 && user.status.content == '未通过' && !modify_password && !reupload_doc" @click="switch_reupload_doc">重新上传验证文档</button>
                      <button :class="['operator', 'settings', 'negative']" @click="switch_reupload_doc" v-else-if="reupload_doc">取消</button>
                      <template v-if="modify_password">
                          <ul>
                              <li><span :class="['bold']">新的密码  </span><input v-model="password" type="password" /></li>
                              <li><span :class="['bold']">确认密码  </span><input v-model="cpassword" type="password" /></li>
                              <li>
                                  <button :class="['operator', 'settings']" @click="save_password">确认修改</button>
                              </li>
                          </ul>
                      </template>
                      <template v-if="reupload_doc">
                          <label :class="['fileuploader']">
                              <input type="file" @change="reupload_val_doc" />
                          </label>
                          {{ doc_name }}
                      </template>
                  </div>
              </div>
          </template>
          <template v-else-if="page == '我的比赛'">
              <div :class="['session']" v-if="mycontest.length == 0">
                  <ul :class="['waiting']">
                      <li><div :class="['load1', 'waiting-bubble']"></div></li>
                      <li><div :class="['load2', 'waiting-bubble']"></div></li>
                      <li><div :class="['load3', 'waiting-bubble']"></div></li>
                      <li><div :class="['load4', 'waiting-bubble']"></div></li>
                  </ul>
              </div>
              <div :class="['session']" v-else>
                  <ul :class="['query_list']">
                      <li v-for="item in mycontest" :class="[mycontest.indexOf(item) % 2 == 0 ? 'left' : 'right']">
                          <div :class="['card_cover']">
                              <img :src="item.logo" />
                              <div :class="['card_title']">
                                  <h1>{{ item.name }}</h1>
                              </div>
                          </div>
                          <div :class="['card_content']">
                              <ul>
                                  <li><button @click="view_contest(item.id)">detail</button></li>
                              </ul>
                          </div>
                      </li>
                  </ul>
              </div>
          </template>
        </div>
    </body>
    <script src="../js/uni_c.js"></script>
    <script src="../js/header_c.js"></script>
    <script src="../js/myaccount_c.js"></script>
</html>
<!-- template -->
