<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Test.Me</title>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/current-device/umd/current-device.min.js"></script>
        <script src="../../js/uni.js"></script>
        <link type="text/css" rel="stylesheet" href="../../css/uni.css" />
        <link type="text/css" rel="stylesheet" href="../../css/cdetail.css" />
    </head>
    <body>
        <div id="header">
            <div id="header-content">
                <div id="header-greeting">{{ greeting }}</div>
                <div id="header-title">{{ title }}</div>
                <nav><ul>
                    <li v-for='link in link_list'>
                        <a :href='link.link' @click='link.action'>{{ link.alias }}</a>
                    </li>
                </ul></nav>
            </div>
        </div>
        <nav id="side-nav">
            <ul>
                <li v-for="item in list">
                    <label :class="['choice', item == choice ? 'chosen' : 'unchosen']" @click='select(item)'>{{ item }}</label>
                </li>
            </ul>
        </nav>
        <div id="body">
            <template v-if="page == 'contest info'">
                <div :class="['session']">
                    <button :class="['s-title', show_basic_info ? '' : 'collapse']" @click="switch_basic_info"><span :class="['title']">Basic Information</span></button>
                    <article :class="['s-body']" v-if="show_basic_info">
                        <ul :class="['form']">
                            <template v-for="item in contest.attr">
                                <li v-if="item.name != 'name'">
                                    <div :class="['label']">{{ item.alias }}</div>
                                    <template v-if="item.type == 'ltext'">
                                        <textarea disabled :class="['display', 'long']" rows='5' v-model="item.content"></textarea>
                                    </template>
                                    <template v-else-if="item.type == 'datetime'">
                                        <input type="date" :class="['display', 'mid']" disabled v-model="item.content.sd" />
                                        <input type="number" :class="['display', 'short']" disabled v-model="item.content.sh" />h
                                        <input type="number" :class="['display', 'short']" disabled v-model="item.content.sm" />m-
                                        <input type="date" :class="['display', 'mid']" disabled v-model="item.content.ed" />
                                        <input type="number" :class="['display', 'short']" disabled v-model="item.content.eh" />h
                                        <input type="number" :class="['display', 'short']" disabled v-model="item.content.em" />m
                                    </template>
                                    <template v-else-if="item.type == 'interval' && item.name == 'team_lim'">
                                        <input type="number" disabled :class="['display', 'short']" v-model="item.content.min" />-
                                        <input type="number" disabled :class="['display', 'short']" v-model="item.content.max" /> peoples
                                    </template>
                                    <template v-else-if="item.type == 'number' && item.name == 'slots'">
                                        <input type="number" disabled :class="['display', 'short']" v-model="item.content" /> teams
                                    </template>
                                    <template v-else-if="item.type == 'file'">
                                        <a :href="item.content.url" :class="['underlined']">{{ item.content.filename }}</a>
                                    </template>
                                </li>
                            </template>
                        </ul>
                    </article>
                </div>
                <div :class="['session']">
                    <template v-for="p in contest.period">
                        <button :class="['s-title', p.show ? '' : 'collapse']" @click="switch_period_info(contest.period.indexOf(p))">
                            <span :class="['title']">{{ get_p_name(contest.period.indexOf(p)) }}</span>
                        </button>
                        <article :class="['s-body']" v-if="p.show">
                            <ul :class="['form']">
                                <template v-for="item in p.attr">
                                    <li v-if="item.name != 'name'">
                                        <div :class="['label']">{{ item.alias }}</div>
                                        <template v-if="item.type == 'ltext'">
                                            <textarea disabled :class="['display', 'long']" rows='5' v-model="item.content"></textarea>
                                        </template>
                                        <template v-else-if="item.type == 'datetime'">
                                            <input type="date" :class="['display', 'mid']" disabled v-model="item.content.sd" />
                                            <input type="number" :class="['display', 'short']" disabled v-model="item.content.sh" />h
                                            <input type="number" :class="['display', 'short']" disabled v-model="item.content.sm" />m-
                                            <input type="date" :class="['display', 'mid']" disabled v-model="item.content.ed" />
                                            <input type="number" :class="['display', 'short']" disabled v-model="item.content.eh" />h
                                            <input type="number" :class="['display', 'short']" disabled v-model="item.content.em" />m
                                        </template>
                                        <template v-else-if="item.type == 'interval' && item.name == 'team_lim'">
                                            <input type="number" disabled :class="['display', 'mid']" v-model="item.content.min" />-
                                            <input type="number" disabled :class="['display', 'mid']" v-model="item.content.max" /> peoples
                                        </template>
                                        <template v-else-if="item.type == 'number' && item.name == 'slots'">
                                            <input type="number" disabled :class="['display', 'mid']" v-model="item.content" /> teams
                                        </template>
                                        <template v-else-if="item.type == 'file'">
                                            <a :href="item.content.url" :class="['underlined']">{{ item.content.filename }}</a>
                                        </template>
                                    </li>
                                </template>
                            </ul>
                        </article>
                    </template>
                </div>
            </template>
            <template v-else-if="page == '队伍信息'">
                <div :class="['session']">
                    <button :class="['s-title', show_member ? '' : 'collapse']" @click="switch_member"><span :class="['title']">{{ team.name }}</span></button>
                    <article :class="['s-body']" v-if="show_member">
                        <ul>
                            <template v-for="user in team.member">
                                <li v-if="user.id == team.leader_id" :class="['userbox', 'leader']" @click="visit_user(user.id)">
                                    <img :src="user.avatar_url" />
                                    <div :class="['info']">
                                        <ul>
                                            <li :class="['name']">{{ user.nickname + '(队长)'}}<span v-if="is_self(user.id)">(你)</span></li>
                                            <li>{{ 'ID : ' + user.id }}</li>
                                            <li>{{ user.school }}</li>
                                        </ul>
                                    </div>
                                </li>
                            </template>
                            <template v-for="user in team.member">
                                <li v-if="user.id != team.leader_id" :class="['userbox', user.accept ? '' : 'unaccepted']" @click="visit_user(user.id)">
                                    <img :src="user.avatar_url" />
                                    <div :class="['info']">
                                        <ul>
                                            <li :class="['name']">{{ user.nickname }}<span v-if="is_self(user.id)">(你)</span><span v-if="!user.accept">(未通过邀请)</span></li>
                                            <li>{{ 'ID : ' + user.id }}</li>
                                            <li>{{ user.school }}</li>
                                        </ul>
                                    </div>
                                </li>
                            </template>
                        </ul>
                        <div v-if="is_self(team.leader_id)" :class="['team-select']">
                            <div :class="['label']">移交队长至</div>
                            <select :class="['input']" v-model="team.new_leader">
                                <template v-for="user in team.member">
                                    <option v-if="user.id != team.leader_id && user.accept">{{ user.nickname + '(ID:' + user.id + ')' }}</option>
                                </template>
                            </select>
                            <button :class="['operator', 'indent-3']" @click="switch_team_ownership"><span>确认</span></button>
                        </div>
                    </article>
                </div>
                <div :class="['session']">
                    <button :class="['s-title', 'collapse']"><span :class="['title']">报名</span></button>
                    <article :class="['s-body']">
                        <ul :class="['form']">
                            <li>
                                <div :class="['label']">报名状态</div>
                                <input :class="['display', 'mid', team.status == '审核通过' ? 'green' : 'red']" disabled v-model="team.status"/>
                            </li>
                            <li>
                                <div :class="['label']">报名附件</div>
                                <template v-if="is_self(team.leader_id)">
                                    <label :class="['fileuploader']">
                                        <input type="file" v-if="team.status == '未报名'" @change="t_file_change" />
                                        <input type="file" v-else disabled />
                                    </label>
                                    {{ signup_material.attachment }}
                                    <div v-if="team.status != '未报名'" :class="['urgent-info']">
                                        现在无法修改报名附件
                                    </div>
                                </template>
                                <input v-else disabled :class="['display']" v-model="signup_material.attachment"/>
                            </li>
                        </ul>
                    </article>
                </div>
                <div :class="['s-u-resp']" v-if="is_self(team.leader_id)">
                    <button @click="save" :class="['response-button']">暂存修改</button>
                    <button @click="post" :class="['response-button']">提交报名</button>
                </div>
            </template>
        </div>
    </body>
    <script src="../../js/uni_c.js"></script>
    <script src="../../js/header_c.js"></script>
    <script src="../../js/cdetail_player_c.js"></script>
</html>
<!-- template -->
