nav#side-nav {
    position : fixed;
    width : 10vw;
    display : block;
    top : 30vh;
    left : 5vw;
}

nav#side-nav label {
    width : 10vw;
    display : block;
    position : relative;
    text-align : center;
    margin : 0.5em auto;
}

.label {
    width : 6em;
}

.label span {
    font-size : 1em;
}

.input.long,
.display.long {
    width : 20em;
}

.input.short,
.display.short {
    width : 4em;
}

.input.mid,
.display.mid {
    width : 12em;
}

.input {
    vertical-align : middle;
}

.input[type='date'],
.display[type='date'] {
    padding-top : 0em;
    padding-bottom : 0em;
}

textarea.input,
textarea.display {
    vertical-align : top;
}

label.fileuploader {
    height : 1.5em;
    width : 1.5em;
}

button.response-button {
    margin-left : 1em;
}

div.s-u-resp {
    padding-bottom : 2em;
}

li.userbox {
    width : 40%;
    height : 5em;
    margin : 1em 3%;
}

li.userbox>img {
    width : 5em;
}

li.userbox>div.info li {
    margin : 5px 0;
}

.team-select {
    margin-top : 2em;
    padding-bottom : 2em;
}

.team-select select,
.team-select .label {
    display : inline-block;
}

.urgent-info {
    padding : 0.5em 0.8em;
    background-color : rgba(200, 200, 200, 0.3);
    margin : 0em auto 1em auto;
    width : 100%;
}

.page-nav {
    text-align : center;
}

.page-nav button {
    padding : 0.2em 0.5em;
    border-radius : 0.2em;
    background-color : #efefef;
    color : #b3b3b3;
    transition : background 0.3s;
}

.page-nav button:hover {
    background-color :  #3498db;
    color : #ffffff;
}


.page-nav button[disabled]:hover {
    background-color : #efefef;
    color : #b3b3b3;
}

.searchresult {
    margin : auto;
    margin-bottom : 1em;
    width : 80%;
    box-shadow : 0 0 0.4em rgba(0, 0, 0, 0.5) inset;
    border-radius : 0.4em;
}

.searchresult th,
.searchresult td {
    padding : 0.15em;
    border : none;
    text-align : center;
    user-select : text;
}

.searchresult tr {
    box-shadow : 0 0 0.1em rgba(0, 0, 0, 0.3) inset;
    transition : background 0.3s;
}

.searchresult tr:hover {
    background : rgba(127, 172, 222, 0.2);
}

.searchresult tr.last-row {
    border-bottom-left-radius : 0.4em;
    border-bottom-right-radius : 0.4em;
}

.searchresult tr.table-select {
    background : rgba(127, 172, 222, 0.4);
}

.searchresult tr.table-select:hover {
    background : rgba(127, 172, 222, 0.4);
}

.searchresult a {
    text-decoration : underline;
    color : blue;
}

.o-bar {
    margin-left : 10%;
    margin-bottom : 1em;
}

.o-bar .operator {
    padding : 0.2em 0.5em;
    border-radius : 0.2em;
    background-color : #efefef;
    color : #b3b3b3;
    transition : background 0.3s;
}

.o-bar .operator span {
    color : inherit;
}

.o-bar .operator:hover {
    background-color :  rgba(73, 110, 193, 1);
    color : #ffffff;
}

.o-bar .operator.negative:hover {
    background-color : rgba(225, 20, 20, 1);
    color : #ffffff;
}

ul.inline-form {
    vertical-align : top;
}

ul.inline-form li {
    margin-right : 2em;
}

.form li>* {
    vertical-align : top;
}

.form li>textarea {
    background : transparent;
    border-radius : 0.5em;
    width : 50%;
}
