<!-- Created by Ica Riluci-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <title>欢迎来到Test.Me</title>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link type="text/css" rel="stylesheet" href="css/common.css" />
        <script src="js/common.js"></script>
        <link type="text/css" rel="stylesheet" href="css/login.css" />
    </head>
    <body class="dotted-bg">
        <div id="slogan-box"><div id="slogan">{{ slogan }}</div></div>
        <div id="login-box">
            <div :class="['logininput']">
                <span>用户名</span>
                <input autofocus='on' v-model='username' />
            </div>
            <div :class="['logininput']">
                <span>密码</span>
                <input type='password' v-model='password' />
            </div>
            <button :class="['loginsubmit']" @click="log_in">登录</button>
            <div :class="['links']">
                <ul>
                    <li><a href="sign-up/index.html">注册</a></li>
                    <li><a>游客登录</a></li>
                </ul>
            </div>
        </div>
        <div id="dev-info">{{ info }}</div>
    </body>
    <script src="js/common_control.js"></script>
    <script src="js/login_control.js"></script>
</html>
