<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>比赛管理</title>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/current-device/umd/current-device.min.js"></script>
        <script src="../../js/uni.js"></script>
        <link type="text/css" rel="stylesheet" href="../../css/uni.css" />
        <link type="text/css" rel="stylesheet" href="../../css/cdetail.css" />
        <link type="text/css" rel="stylesheet" href="../../css/cdetail_o.css" />
        <script src="mock_data.js"></script>
    </head>
    <body>
        <div id="header">
            <div id="header-content">
                <div id="header-title">{{ title }}</div>
                <nav><ul>
                    <li v-for='link in link_list'>
                        <a :href='link.link' @click='link.action'>{{ link.alias }}</a>
                    </li>
                </ul></nav>
            </div>
        </div>
        <nav id="side-nav">
            <ul>
                <li v-for="item in list">
                    <label :class="['choice', item == choice ? 'chosen' : 'unchosen']" @click='select(item)'>{{ item }}</label>
                </li>
            </ul>
        </nav>
        <div id="body">
            <template v-if="page == '比赛信息'">
                <div :class="['session']">
                    <button :class="['s-title', show_basic_info ? '' : 'collapse']" @click="switch_basic_info"><span :class="['title']">比赛基本信息</span></button>
                    <article :class="['s-body']" v-if="show_basic_info">
                        <ul :class="['form']">
                            <li v-for='item in contest.attr'>
                                <div :class="['label']">{{ item.alias }}</div>
                                <template v-if="item.type == 'text'">
                                    <input v-if="item.editable" v-model="item.content" :class="['input', 'long']" />
                                    <input v-else disabled v-model="item.content" :class="['input', 'long']" />
                                </template>
                                <template v-else-if="item.type == 'ltext'">
                                    <textarea v-if="item.editable" v-model="item.content" :class="['input', 'long']" rows='5'></textarea>
                                    <textarea v-else disabled v-model="item.content" :class="['input', 'long']" rows='5'></textarea>
                                </template>
                                <template v-else-if="item.type == 'datetime'">
                                    <div v-if="item.editable">
                                        <input :class="['input', 'mid']" type="date" v-model="item.content.d" />
                                        <input  v-model="item.content.h" :class="['input', 'short']" type="number" min="0" max="23" />:
                                        <input  v-model="item.content.m" :class="['input', 'short']" type="number" min="0" max="59" />
                                    </div>
                                    <div v-else>
                                        <input disabled :class="['input', 'mid']" type="date" v-model="item.content.d" />
                                        <input disabled  v-model="item.content.h" :class="['input', 'short']" type="number" min="0" max="23" />:
                                        <input disabled  v-model="item.content.m" :class="['input', 'short']" type="number" min="0" max="59" />
                                    </div>
                                </template>
                                <template v-else-if="item.type == 'number'">
                                    <input v-if="item.editable" v-model="item.content" :class="['input']" type="number" />
                                    <input v-else disabled v-model="item.content" :class="['input']" type="number" />
                                </template>
                                <template v-else-if="item.type == 'progress'">
                                    <progress :max="contest.getAttr(item.content.base)" :value="item.content.value" :class="['progressbar']"></progress>
                                    <span>{{ item.content.value + "/" + contest.getAttr(item.content.base) }}</span>
                                </template>
                                <template v-else-if="item.type == 'file'">
                                    <label :class="['fileuploader']">
                                        <input type="file" @change="c_file_change" required/>
                                    </label>
                                    {{ item.content }}
                                </template>
                            </li>
                        </ul>
                    </article>
                </div>
                <div :class="['session']">
                    <button :class="['s-title', show_period_info ? '' : 'collapse']" @click="switch_period_info"><span :class="['title']">阶段信息</span></button>
                    <article :class="['s-body']" v-if="show_period_info">
                        <ul :class="['form']" v-for="p in contest.period">
                            <li v-for='item in p.attr'>
                                <div :class="['label']">{{ item.alias }}</div>
                                <template v-if="item.type == 'text'">
                                    <input v-if="item.editable" v-model="item.content" :class="['input', 'long']" />
                                    <input v-else disabled v-model="item.content" :class="['input', 'long']" />
                                </template>
                                <template v-else-if="item.type == 'ltext'">
                                    <textarea v-if="item.editable" v-model="item.content" :class="['input', 'long']" rows='5'></textarea>
                                    <textarea v-else disabled v-model="item.content" :class="['input', 'long']" rows='5'></textarea>
                                </template>
                                <template v-else-if="item.type == 'datetime'">
                                    <div v-if="item.editable">
                                        <input :class="['input', 'mid']" type="date" v-model="item.content.d" />
                                        <input  v-model="item.content.h" :class="['input', 'short']" type="number" min="0" max="23" />:
                                        <input  v-model="item.content.m" :class="['input', 'short']" type="number" min="0" max="59" />
                                    </div>
                                    <div v-else>
                                        <input disabled :class="['input', 'mid']" type="date" v-model="item.content.d" />
                                        <input disabled  v-model="item.content.h" :class="['input', 'short']" type="number" min="0" max="23" />:
                                        <input disabled  v-model="item.content.m" :class="['input', 'short']" type="number" min="0" max="59" />
                                    </div>
                                </template>
                                <template v-else-if="item.type == 'number'">
                                    <input v-if="item.editable" v-model="item.content" :class="['input']" type="number" />
                                    <input v-else disabled v-model="item.content" :class="['input']" type="number" />
                                </template>
                                <template v-else-if="item.type == 'file'">
                                    <label :class="['fileuploader']">
                                        <input type="file" :id="'p' + p.lid" @change="p_file_change" required />
                                    </label>
                                    {{ item.content }}
                                </template>
                                <template v-else-if="item.type == 'logo'">
                                    <label :class="['fileuploader']">
                                        <input type="file" @change="c_logo_change" required/>
                                    </label>
                                    {{ item.content }}
                                </template>
                                <template v-else-if="item.type == 'banner'">
                                    <label :class="['fileuploader']">
                                        <input type="file" @change="c_banner_change" required/>
                                    </label>
                                    {{ item.content }}
                                </template>
                            </li>
                            <template v-for="q in p.question">
                                <li>
                                    <div :class="['label', 'bold']">{{ '题目' + (parseInt(q.lid) + 1).toString() }}</div>
                                </li>
                                <li v-for="item in q.attr">
                                    <div :class="['label']">{{ item.alias }}</div>
                                    <template v-if="item.type == 'ltext'">
                                        <textarea v-if="item.editable" v-model="item.content" :class="['input', 'long']" rows='5'></textarea>
                                        <textarea v-else disabled v-model="item.content" :class="['input', 'long']" rows='5'></textarea>
                                    </template>
                                    <template v-else-if="item.type == 'number'">
                                        <input v-if="item.editable" v-model="item.content" :class="['input']" type="number" />
                                        <input v-else disabled v-model="item.content" :class="['input']" type="number" />
                                    </template>
                                    <template v-else-if="item.type == 'file'">
                                        <label :class="['fileuploader']">
                                            <input type="file" :id="'q' + q.lid + '-' + (parseInt(p.lid) + 1).toString()" @change="q_file_change" required/>
                                        </label>
                                        {{ item.content }}
                                    </template>
                                </li>
                                <li>
                                    <button v-if="p.question_modifier_available" :class="['operator', 'negative', 'indent-3']" @click="remove_question(contest.period.indexOf(p), p.question.indexOf(q))"><span>{{ '删除题目' + (parseInt(q.lid) + 1).toString() }}</span></button>
                                </li>
                            </template>
                            <li>
                                <button v-if="p.question_modifier_available" :class="['operator', 'indent-3']" @click="insert_new_question(contest.period.indexOf(p))"><span>添加题目</span></button>
                            </li>
                            <li>
                                <button v-if='contest.period_modifier_available' :class="['operator', 'negative', 'indent-3']" @click='remove_period(contest.period.indexOf(p))'><span>{{ '删除阶段 ' + get_p_name(contest.period.indexOf(p)) }}</span></button>
                            </li>
                        </ul>
                        <button :class="['operator', 'indent-3']" v-if="contest.period_modifier_available" @click="insert_new_period"><span>添加阶段</span></button>
                        <button :class="['operator', 'indent-3']" v-else disabled><span>添加阶段</span></button>
                    </article>
                </div>
                <div :class="['s-u-resp']">
                    <button @click="save" :class="['response-button']">暂存修改</button>
                    <button @click="publish" :class="['response-button']">保存并发布</button>
                </div>
            </template>
            <template v-else-if="page == '申诉处理'">
                <div :class="['session']" v-if="appeal_batch">
                    <span v-if="selected_appeal > 0">{{ '已选择 ' }}{{ selected_appeal }}{{ ' 条申诉' }}</span>
                    <div :class="['o-bar']">
                        <button :class="['operator']" @click="select_page_appeal">此页全选</button>
                        <button :class="['operator']" @click="unselect_page_appeal">此页全不选</button>
                        <button :class="['operator']" @click="select_all_appeal">全选</button>
                        <button :class="['operator']" @click="unselect_all_appeal">全不选</button>
                        <button :class="['operator']" @click="appeal_sort_status">
                            <span v-if="appeal_status_reverse">未处理优先</span>
                            <span v-else>已搁置优先</span>
                        </button>
                        <button :class="['operator']" @click="appeal_sort_type">
                            <span v-if="appeal_type_reverse">资格申诉优先</span>
                            <span v-else>成绩申诉优先</span>
                        </button>
                    </div>
                    <div :class="['o-bar']">
                        <button :class="['operator']" @click="process_selected_appeals">设为已处理</button>
                        <button :class="['operator', 'negative']" @click="ignore_selected_appeals">搁置选中</button>
                    </div>
                    <table :class="['searchresult']" cellspacing='0'>
                        <thead>
                            <th>申诉团队</th>
                            <th>申诉标题</th>
                            <th>申诉类型</th>
                            <th>申诉状态</th>
                            <th>&nbsp;</th>
                        </thead>
                        <tr v-for="item in appeal_list[appeal_page]" :class="[item.selected ? 'table-select' : '', appeal_list[appeal_page].indexOf(item) == appeal_page_capacity - 1 ? 'last-row' : '']">
                            <td @click="select_appeal(appeal_page, appeal_list[appeal_page].indexOf(item))">{{ item.appealer.name }}</td>
                            <td @click="select_appeal(appeal_page, appeal_list[appeal_page].indexOf(item))">{{ item.title }}</td>
                            <td @click="select_appeal(appeal_page, appeal_list[appeal_page].indexOf(item))">{{ appeal_type_dict[item.type] }}</td>
                            <td @click="select_appeal(appeal_page, appeal_list[appeal_page].indexOf(item))" :class="[item.status == 0 ? 'green' : '', item.status == 1 ? 'red' : '']">{{ appeal_status_dict[item.status] }}</td>
                            <td><button :class="['blue']" @click="a_single_process(appeal_page, appeal_list[appeal_page].indexOf(item))">详情</button></td>
                        </tr>
                    </table>
                    <div :class="['page-nav']">
                        <button v-if="appeal_page > 0" @click="prev_a_page">上一页</button>
                        <button v-else disabled>上一页</button>
                        {{ appeal_page + 1 }}{{ '/' + appeal_list.length }}
                        <button v-if="appeal_page < appeal_list.length - 1" @click="next_a_page">下一页</button>
                        <button v-else disabled>下一页</button>
                    </div>
                </div>
                <div :class="['session']" v-else>
                    <div :class="['o-bar']">
                        <button :class="['operator', 'negative']" @click="a_batch_process">批量处理</button>
                        <button :class="['operator']" @click="a_single_prev">上一条</button>
                        <button :class="['operator']" @click="a_single_next">下一条</button>
                    </div>
                    <button :class="['s-title']" disabled><span>{{ appeal_list[a_single_page][a_single_idx].title }}</span></button>
                    <article :class="['s-body']">
                        <ul :class="['form']">
                            <li>
                                <div :class="['label']">申诉团队</div>
                                <input disabled v-model="appeal_list[a_single_page][a_single_idx].appealer.name" />
                            </li>
                            <li>
                                <div :class="['label']">团队成员</div>
                                <ul :class="['inline-form']">
                                    <li v-for="p in appeal_list[a_single_page][a_single_idx].appealer.member">
                                        <a :class="['blue']">{{ p.name }}</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div :class="['label']">申诉类型</div>
                                <input disabled v-model="appeal_type_dict[appeal_list[a_single_page][a_single_idx].type]" />
                            </li>
                            <li>
                                <div :class="['label']">申诉状态</div>
                                <input disabled v-model="appeal_status_dict[appeal_list[a_single_page][a_single_idx].status]" :class="[appeal_list[a_single_page][a_single_idx].status == 0 ? 'green' : '', appeal_list[a_single_page][a_single_idx].status == 1 ? 'red' : '']" />
                            </li>
                            <li>
                                <div :class="['label']">内容</div>
                                <textarea disabled v-model="appeal_list[a_single_page][a_single_idx].content" rows="5"></textarea>
                            </li>
                            <li>
                                <div :class="['label']">附件</div>
                                <a :href="appeal_list[a_single_page][a_single_idx].a_url">点此下载</a>
                            </li>
                        </ul>
                    </article>
                    <article :class=['s-body'] v-if="appeal_list[a_single_page][a_single_idx].status == 2">
                        <ul :class="['form']" v-if="show_appeal_reply">
                            <li>
                                <div :class="['label']">回复</div>
                                <textarea v-model="appeal_reply" rows="5"></textarea>
                            </li>
                        </ul>
                        <div :class=['o-bar'] >
                            <button :class="['operator', 'negative']">搁置</button>
                            <template v-if="show_appeal_reply">
                                <button :class="['operator', 'negative']" @click="switch_appeal_reply">取消</button>
                                <button :class="['operator']">回复</button>
                            </template>
                            <button :class="['operator']" v-else @click="switch_appeal_reply">处理</button>
                        </div>
                    </article>
                    <article :class="['s-body']" v-else-if="appeal_list[a_single_page][a_single_idx].status == 1">
                        <ul :class="['form']" v-if="show_appeal_reply">
                            <li>
                                <div :class="['label']">回复</div>
                                <textarea v-model="appeal_reply" rows="5"></textarea>
                            </li>
                        </ul>
                        <div :class=['o-bar'] >
                            <template v-if="show_appeal_reply">
                            <button :class="['operator', 'negative']" @click="switch_appeal_reply">取消</button>
                            <button :class="['operator']">回复</button>
                            </template>
                            <button :class="['operator']" v-else @click="switch_appeal_reply">处理</button>
                        </div>
                    </article>
                    <article :class="['s-body']" v-else-if="appeal_list[a_single_page][a_single_idx].status == 0">
                        <ul :class="['form']">
                            <li>
                                <div :class="['label']">回复</div>
                                <textarea v-model="appeal_reply" rows="5"  v-if="!show_appeal_reply" disabled></textarea>
                                <textarea v-model="appeal_reply" rows="5" v-else></textarea>
                            </li>
                        </ul>
                        <div :class=['o-bar']>
                            <template v-if="show_appeal_reply">
                                <button :class="['operator', 'negative']" @click="switch_appeal_reply">取消</button>
                                <button :class="['operator']">回复</button>
                            </template>
                            <button :class="['operator']" v-else @click="switch_appeal_reply">重新处理</button>
                        </div>
                    </article>
                </div>
            </template>
            <template v-else-if="page == '成绩录入'">
                <div :class="['session']">
                    <button :class="['s-title', show_upload_toknow ? '' : 'collapse']" @click="switch_upload_toknow"><span>成绩录入须知</span></button>
                    <article :class="['s-body']" v-if="show_upload_toknow">
                        你只能上传最后一轮的成绩，你所有的上传会覆盖当前最新一轮的结果.上传的文件应该满足下列格式:
                    </article>
                </div>
                <div :class="['session']">
                    <button :class="['s-title']"><span>{{ '阶段 ' + last_period_name + ' 成绩录入'}}</span></button>
                    <article :class="['s-body']">
                        <ul :class="['form']">
                            <li>
                                <div :class="['label']">成绩文件</div>
                                <label :class="['fileuploader']">
                                    <input type="file" @change="r_file_change" v-if="upload_result_avail" />
                                    <input type="file" v-else disabled/>
                                </label>
                                {{ result_file_name }}
                            </li>
                        </ul>
                    </article>
                </div>
            </template>
            <template v-else-if="page == '选手管理'">
                <div :class="['session']" v-if="player_batch">
                    <span v-if="selected_player > 0">{{ '已选择 ' }}{{ selected_player }}{{ ' 支队伍' }}</span>
                    <div :class="['o-bar']">
                        <button :class="['operator']" @click="select_page_player">此页全选</button>
                        <button :class="['operator']" @click="unselect_page_player">此页全不选</button>
                        <button :class="['operator']" @click="select_all_player">全选</button>
                        <button :class="['operator']" @click="unselect_all_player">全不选</button>
                        <button :class="['operator']" @click="player_sort_tmark">
                            总分<span v-if="!player_tmark_reverse">升序</span>
                            <span v-else>降序</span>
                        </button>
                        <button :class="['operator']" @click="player_sort_mark0" v-if="player_p0_name != ''">
                            {{ player_p0_name }}成绩<span v-if="!player_mark0_reverse">升序</span>
                            <span v-else>降序</span>
                        </button>
                        <button :class="['operator']" @click="player_sort_mark1" v-if="player_p1_name != ''">
                            {{ player_p1_name }}成绩<span v-if="!player_mark1_reverse">升序</span>
                            <span v-else>降序</span>
                        </button>
                        <button :class="['operator']" v-for="s in p_status_dict" @click="player_top_by_status(p_status_dict.indexOf(s))">
                            {{ s }}置顶
                        </button>
                    </div>
                    <div :class="['o-bar']">
                        <button :class="['operator']" @click="normalize_selected_players">允许参赛</button>
                        <button :class="['operator']" @click="promote_selected_players">使晋级</button>
                        <button :class="['operator', 'negative']"   @click="ban_selected_players">禁赛</button>
                    </div>
                    <table :class="['searchresult']" cellspacing='0'>
                        <thead>
                            <th>团队</th>
                            <th>
                                <select v-model="player_p0_name">
                                    <option v-for="p in contest.period">{{ get_p_name(contest.period.indexOf(p)) }}</option>
                                </select>
                                成绩
                            </th>
                            <th>
                                <select v-model="player_p1_name">
                                    <option v-for="p in contest.period">{{ get_p_name(contest.period.indexOf(p)) }}</option>
                                </select>
                                成绩
                            </th>
                            <th>总分</th>
                            <th>资格状态</th>
                            <th>&nbsp;</th>
                        </thead>
                        <tr v-for="item in player_list[player_page]" :class="[item.selected ? 'table-select' : '', player_list[appeal_page].indexOf(item) == player_page_capacity - 1 ? 'last-row' : '']">
                            <td @click="select_player(player_page, player_list[player_page].indexOf(item))">{{ item.name +'[id=' + item.id + ']' }}</td>
                            <td @click="select_player(player_page, player_list[player_page].indexOf(item))">{{ item.mark[player_p0] }}</td>
                            <td @click="select_player(player_page, player_list[player_page].indexOf(item))">{{ item.mark[player_p1] }}</td>
                            <td @click="select_player(player_page, player_list[player_page].indexOf(item))">{{ sumof(item.mark) }}</td>
                            <td @click="select_appeal(player_page, player_list[player_page].indexOf(item))" :class="[item.status == 0 ? 'green' : '', item.status == 1 ? 'red' : '']">{{ p_status_dict[item.status] }}</td>
                            <td><button :class="['blue']" @click="p_single_process(player_page, player_list[player_page].indexOf(item))">详情</button></td>
                        </tr>
                    </table>
                    <div :class="['page-nav']">
                        <button v-if="player_page > 0" @click="prev_p_page">上一页</button>
                        <button v-else disabled>上一页</button>
                        {{ player_page + 1 }}{{ '/' + player_list.length }}
                        <button v-if="player_page < player_list.length - 1" @click="next_p_page">下一页</button>
                        <button v-else disabled>下一页</button>
                    </div>
                </div>
                <div :class="['session']" v-else>
                    <div :class="['o-bar']">
                        <button :class="['operator']" @click="p_batch_process">返回列表</button>
                        <button :class="['operator']" @click="p_single_prev">上一个</button>
                        <button :class="['operator']" @click="p_single_next">下一个</button>
                    </div>
                    <div :class="['o-bar']">
                        <template v-if="player_list[p_single_page][p_single_idx].status == 0">
                            <button :class="['operator', 'negative']">禁赛</button>
                            <button :class="['operator']">晋级</button>
                        </template>
                        <button :class="['operator']" v-else>允许比赛</button>
                    </div>
                    <button :class="['s-title', 'collapse']"><span :class="['title']">{{ player_list[p_single_page][p_single_idx].name }}</span></button>
                    <article :class="['s-body']">
                        <ul :class="['form']">
                            <li>
                                <div :class="['label']">团队成员</div>
                                <ul :class="['inline-form']">
                                    <li v-for="p in player_list[p_single_page][p_single_idx].member">
                                        <a :class="['blue']">{{ p.name }}</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div :class="['label']">团队状态</div>
                                <input :class="[player_list[p_single_page][p_single_idx] == 0 ? 'green' : '', player_list[p_single_page][p_single_idx].status == 1 ? 'red' : '']" disabled v-model="p_status_dict[player_list[p_single_page][p_single_idx].status]" />
                            </li>
                            <li>
                                <div :class="['label']">报名附件</div>
                                <a :href="player_list[p_single_page][p_single_idx].a_url" :class="['underline']">点此下载</a>
                            </li>
                            <li v-for="p in contest.period">
                                <div :class="['label']">{{ get_p_name(contest.period.indexOf(p)) }}
                                成绩</div>
                                <input :class="['input']" type="number" v-model="player_list[p_single_page][p_single_idx].mark[contest.period.indexOf(p)]" />
                            </li>
                        </ul>
                    </article>
                    <div :class="['s-u-resp']">
                        <button :class="['response-button']">确认修改</button>
                    </div>
                </div>
            </template>
        </div>
    </body>
    <script src="../../js/uni_c.js"></script>
    <script src="../../js/header_c.js"></script>
    <script src="../../js/cdetail_owner_c.js"></script>
</html>
<!-- template -->
